{% extends "skin25/base.html" %}
{% load staticfiles %}
{% block style %}
	<link href="{% static 'skin25/css/base.css' %}" rel="stylesheet">
    <link href="{% static 'skin25/css/about.css' %}" rel="stylesheet">
    <link href="{% static 'skin25/css/media.css' %}" rel="stylesheet"> 
{% endblock %}
{% block left %}
	<article>
        <h3 class="about_h">您现在的位置是：<a href="/">首页</a>><a href="#">关于我</a></h3>
        <div class="about">
            <h2>Just about me</h2>
            <ul>
                <p>李清洋，男，一个屌丝程序员，2015年6月毕业于中山大学计算机科学与技术专业。现在<a href="http://www.hr-soft.cn/">广州红海网络科技开发有限公司</a>担任java开发工程师。</p>
                <p>个人擅长：Spring、maven、linux、jquery、vuejs；对Lucene（solr）、机器学习（模式识别）、django、Jpa(hibernate)、mybatis等比较熟悉。</p>
                <!-- <p>搞过的项目：<a class="blog_link" href="http://sbyun.com">社保云</a>、<a class="blog_link" href="http://vw.51hrc.com/">公司产品vwork</a></p> -->
                <p>个人的CSDN博客地址<a class="blog_link" href="http://blog.csdn.net/daelly">http://blog.csdn.net/daelly</a></p>
            </ul>
            <h2>About my blog</h2>
            <ul class="blog_a">
                <p>域 名：www.daelly.com 创建于2017年03月1日 
                    <a href="http://www.net.cn/domain/" class="blog_link" target="_blank">注册域名</a>
                    <a class="blog_link" href="#" target="_blank">邀你点评</a></p>
                <p>服务器：阿里云服务器
                    <a href="#" class="blog_link" target="_blank">购买空间</a>
                	<a href="#" target="_blank" class="blog_link">参考我的空间配置</a>
                </p>
                <p>程 序：
                	<a class="blog_link" href="https://github.com/daelly/sblog">django</a>
                	参考模板：<a class="blog_link" href="http://www.yangqq.com/download/div/">杨青个人博客模板</a>
                </p>
                <p>个人邮箱：www.daelly@live.com</p>
            </ul>
        </div>
    </article>
{% endblock %}
{% block right %}
	<aside>
        <div class="avatar"><a href="{%url 'sblog:about' %}"><span>关于李清洋</span></a></div>
        <div class="topspaceinfo">
            <h1>执子之手，与子偕老</h1>
            <p>于千万人之中，我遇见了我所遇见的人....</p>
        </div>
        <div class="about_c">
            <p>网名：Daelly | 李清洋</p>
            <p>职业：Java开发、大数据 </p>
            <p>籍贯：广西-浦北</p>
            <p>电话：15902096411</p>
            <p>邮箱：daelly@live.com</p>
        </div>
	</aside>
{% endblock %}